* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5c3025;
    padding: 10px, 0;
    
  }
  
  .logo {
    font-size: 2rem;
    display: flex;
    color: white;
    font-weight: bold;
    align-items: center;
    height: auto;
    margin-right: 10px;
    margin-left: 30px;
  }
  
  .header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* align-items: baseline; */
  }
  
  .header li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: wheat;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #ffc4009c;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
    
  }