@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url("https://img.freepik.com/free-photo/businesswomen-caffe_1157-16526.jpg?w=1800&t=st=1684643856~exp=1684644456~hmac=520f8c8f7f0ecfc93bc3069ee77cf6218e732cb57681c9579bf7881c905fdda0");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;

}

h1 {
  font-size: 1.5rem;
  color: #2c292b;
}

h2 {
  margin-top: 1rem;
  font-size: 1rem;
  color: #2c292b;
}